{% extends "html_base.html" %}
{% block subtitle %}Pengenalan{% endblock %}
{% block subjudul %}Pengenalan HTML{% endblock %}
{% block main_content %}
<h2>Pendahuluan</h2>
<p>Apa itu HTML? mungkin pertanyaan inilah yang terbersit pada benak anda yang baru mulai masuk
    kedalam dunia web
    programming. HTML merupakan bahasa pemograman dasar yang wajib di kuasai bagi seorang web
    developer, karena HTML
    merupakan unsur dasar dari pembangunan sebuah website. Jika di ibaratkan HTML menjadi
    pondasi pada sebuah rumah atau
    bangunan, karena bentuk pada halaman website di buat menggunakan HTML
</p>
<h2>Pengertian HTML</h2>
<p>HTML (Hyper Text Markup Language) adalah sebuah bahasa Mark Up yang digunakan untuk membuat
    sebuah halaman website.
    Di dalam dunia pemograman berbasis website (Web Programming) HTML menjadi pondasi dasar pada
    halaman website. Sebuah
    file HTML di simpan dengan ekstensi .html (dot html) dan dapat di eksekusi atau diakses
    menggunakan web
    browser (Google Chrome, Mozilla Firefox, Opera, Safari dan lain-lain). Seperti yang sudah di
    jelaskan HTML adalah
    dasar dari sebuah website. Untuk membuat sebuah website tidak cukup hanya menggunakan HTML,
    kita memerlukan bantuan
    CSS, JavaScript dan PHP atau bahasa pemrograman server lainnya untuk membuat sebuah website
    yang dinamis. Jika halaman website
    dibuat hanya menggunakan
    HTML saja maka halaman website tersebut di sebut halaman statis karena tidak memiliki aksi
    atau fungsi-fungsi yang
    dapat mengelola website. Tentu developer akan sangat di sibukkan dengan harus mengubah lagi
    file HTML setiap ingin
    mengupdate artikel.</p>
<p>HTML memiliki beberapa element yang tersusun dari tag-tag yang memiliki fungsi nya
    masing-masing. Seperti tag
    heading, paragraf, pembuatan form, tombol, list, membuat hyperlink atau link yang
    menghubungkan antar halaman
    website dan banyak lagi lainnya.
</p>
<h2>Kegunaan HTML</h2>
<p>HTML berfungsi sebagai pondasi sebuah halaman website. Adapun yang dapat di lakukan dengan
    HTML adalah sebagai
    berikut :</p>
<ul>
    <li>Membungkus element-element tertentu sesuai kebutuhan</li>
    <li>Membuat heading atau format judul</li>
    <li>Membuat Tabel</li>
    <li>Membuat List</li>
    <li>Membuat Paragraf</li>
    <li>Membuat Form</li>
    <li>Membuat Tombol</li>
    <li>Membuat Garis</li>
    <li>Membuat huruf tebal</li>
    <li>Membuat huruf miring</li>
    <li>Menampilkan gambar</li>
    <li>Menampilkan video</li>
    <li>Dan banyak lainnya</li>
</ul>
<p>Sampai saat ini HTML sudah sampai pada versi 5. HTML5 sudah memiliki banyak sekali fitur
    tambahan salah satunya
    dengan HTML5 memungkinkan kita untuk membuat streaming video tanpa bantuan flash.
<p>Jadi kesimpulan dari pengertian HTML ini adalah HTML merupakan pondasi dasar dari sebuah
    pembuatan sebuah website.
    untuk mengeksekusi atau menjalankan file HTML harus menggunakan web browser.</p>
{% endblock %}