{% extends "html_base.html" %}
{% block subtitle %}Format{% endblock %}
{% block subjudul %}Format HTML{% endblock %}

{% block main_content %}
<h2>Belajar HTML Format Text Pada HTML</h2>
<p>Dalam penuliasan HTML sangat sering menggunakan format text didalamanya. baik itu dalam
    penulisan judul, ataupun isi
    dari content/halaman dari website sendiri. Berikut beberapa penjelasan dan contoh dari
    Format Text Pada HTML.</p>
<br>
<h3>Belajar HTML Format Text Pada HTML</h3>
<ol>
    <li>Format text bold (tebal). Untuk membuat teks menjadi tebal pada tampilan halaman web
        menggunakan tag
        <code>&lt;b&gt;</code> berikut syntax HTML untuk membuat format text tebal :
        <div class="bg-dark p-3">
            <code>
                &lt;b&gt; ini text tebal &lt;/b&gt;
            </code>
        </div>
        <br>
    </li>
    <li>Format text italic (miring). Untuk membuat teks miring pada HTML menggunakan tag
        <code>&lt;i&gt;</code>, contohnya :
        <div class="bg-dark p-3">
            <code>
                &lt;i&gt; ini text miring &lt;/i&gt;
            </code>
        </div>
        <br>
    </li>
    <li>Format text underline (garis bawah), untuk membuat teks underline/garis bawah pada HTML
        menggunakan tag <code>&lt;u&gt;</code> :
        <div class="bg-dark p-3">
            <code>
                &lt;i&gt; ini text underline &lt;/i&gt;
            </code>
        </div>
        <br>
    </li>
</ol>

<p>Berikut format text yang sering digunanakan dalam HTML.</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tag</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&lt;b&gt;</td>
            <td>Format text bold/tebal</td>
        </tr>
        <tr>
            <td>&lt;i&gt;</td>
            <td>Format text italic/miring</td>
        </tr>
        <tr>
            <td>&lt;u&gt;</td>
            <td>Format text underline/garis bawah</td>
        </tr>
        <tr>
            <td>&lt;small&gt;</td>
            <td>Format text kecil</td>
        </tr>
        <tr>
            <td>&lt;strong&gt;</td>
            <td>Format text yang hampir sama dengan format bold</td>
        </tr>
        <tr>
            <td>&lt;sub&gt;</td>
            <td>Format subscripted text</td>
        </tr>
        <tr>
            <td>&lt;sup&gt;</td>
            <td>Format superscripted text</td>
        </tr>
        <tr>
            <td>&lt;ins&gt;</td>
            <td>Format text garis bawah</td>
        </tr>
        <tr>
            <td>&lt;del&gt;</td>
            <td>Format text dengan garis di tengah</td>
        </tr>
        <tr>
            <td>&lt;mark&gt;</td>
            <td>Format text yang berwarna</td>
        </tr>
    </tbody>
</table>
<br>
<p>Berikut contoh penulisan tag/element format text di yang sudah di pelajari di atas :</p>

<div class="bg-dark p-3">
    <code>
        <p>&lt;!DOCTYPE html&gt;</p>
        <p>&lt;html&gt;</p>
        <p>&lt;head&gt;</p>
        <p>&lt;title&gt; Document &lt;/title&gt;</p>
        <p>&lt;/head&gt;</p>
        <p>&lt;body&gt;</p>
        <p>&lt;b&gt; ini format text tebal &lt;/b&gt; &lt;br&gt;</p>
        <p>&lt;i&gt; ini format text italic &lt;/i&gt; &lt;br&gt;</p>
        <p>&lt;u&gt; ini format text underline &lt;/u&gt; &lt;br&gt;</p>
        <p>&lt;em&gt; ini format text em &lt;/em&gt; &lt;br&gt;</p>
        <p>&lt;small&gt; ini format text small &lt;/small&gt; &lt;br&gt;</p>
        <p>&lt;strong&gt; ini format text strong &lt;/strong&gt; &lt;br&gt;</p>
        <p>&lt;sub&gt; ini format text sub &lt;/sub&gt; &lt;br&gt;</p>
        <p>&lt;sup&gt; ini format text sup &lt;/sup&gt; &lt;br&gt;</p>
        <p>&lt;ins&gt; ini format text ins &lt;/ins&gt; &lt;br&gt;</p>
        <p>&lt;del&gt; ini format text del &lt;/del&gt; &lt;br&gt;</p>
        <p>&lt;mark&gt; ini format text mark &lt;/mark&gt;</p>
        <p>&lt;/body&gt;</p>
        <p>&lt;/html&gt;</p>
    </code>
</div>
<br>

<div id="attachment_175"><img aria-describedby="caption-attachment-175" class="img-fluid"
        title="Belajar HTML Format Text Pada HTML"
        src="https://www.malasngoding.com/wp-content/uploads/2015/12/format-text-pada-html.png"
        alt="Belajar HTML Format Text Pada HTML"
        srcset="https://www.malasngoding.com/wp-content/uploads/2015/12/format-text-pada-html.png 498w, https://www.malasngoding.com/wp-content/uploads/2015/12/format-text-pada-html-300x189.png 300w" />
</div>
{% endblock %}